body{
  margin: 0;
  padding: 50px;
  background-color: #eff7f6

}
.intro{
  font-family: sans-serif;
  font-size: 30px;
  width: 100%;
  height: 50px;
  top: 100px
}
.intro p{
  color: #2E4052
}
#port_style{
  font-size: 20px;
  font-family: sans-serif;
  width: 100%;
  height: 100px;

  margin-bottom: 20px
}
p, span{
  display: inline;
  font-size: 20px
}
a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: inline;

}
#frequency{

  width: 100%;
  height: 50px;
  margin-bottom: 20px
}
#myDiv{

  height: 300px;
  margin-bottom: 20px
}
#force{

  width: 100%;
  height: 50px;
  margin-bottom: 20px
}
#myDiv1{

  height: 300px;
  margin-bottom: 20px
}
