
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" charset="utf-8"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <link rel="stylesheet" href="../style/mainWindow.css">
    <style media="screen">
      body{
        background-color: #eff7f6
      }
    </style>
</head>
<body>
    <div class="intro">
      <p>Using Node js</p>
       <span id="node-version"></span><p> ,Chromium</p>
       <span id="chrome-version"></span><p>, Electron</p>
       <span id="electron-version"></span><p> and Serialport</p>
       <span id="serialport-version"></span>
    </div>
    <div id="port_style">
      <h3>App connected to Port : </h3><a id="port"></a>
    </div>
    <div >
    <a>Frequency : </a><a id="frequency"></a></div>


    <div id="myDiv">

    </div>
    <div>
    <a>Force : </a><a id="force"></a></div>
    <div id="myDiv1">

    </div>
</body>

<script src="../js/renderer.js"></script>

</html>
